@use 'sass:math';
@use 'sass:map';

// header
$header: () !default;
$header: map.merge(
  (
    'padding': 0 20px,
    'height': 60px
  ),
  $header
);
// main
$main: () !default;
$main: map.merge(
  (
    'padding': 10px
  ),
  $main
);
// footer
$footer: () !default;
$footer: map.merge(
  (
    'padding': 0 20px,
    'height': 60px
  ),
  $footer
);
