@use 'sass:map';
@use '../../../theme-chalk/mixins/mixins.scss' as *;
@use '../../../theme-chalk/mixins/var.scss' as *;
@use '../../../theme-chalk/common/var.scss' as *;

@include b(col) {
  --l-col-gutter-width: 6px;
  --l-rows-grid: 5;
  --l-col-flex: 1;
  --l-col-label-width: 70px;
  display: flex;
  position: relative;
  align-items: baseline;
  margin: var(--l-col-gutter-width);
  position: relative;
  width: calc(((100% / var(--l-rows-grid)) * var(--l-col-flex)) - (var(--l-col-gutter-width) * 2));
  @media screen and (max-width: 1024px) {
    width: 50%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (max-width: 568px) {
    &.is-col-wap-label-column {
      flex-direction: column;
    }
  }
  &-label {
    display: inline-block;
    // *display: inline;
    // *zoom: 1;
    padding-right: 10px;
    align-items: center;
    &.#{$namespace}-label-fixed-width {
      display: flex;
      flex: 0 0 (var(--l-col-label-width));
    }

    // line-height: 22px;
    color: var(--l-text-color-regular);
    i {
      color: var(--l-color-warning);
      padding: 0 3px;
      &.green {
        color: var(--l-color-success);
      }
    }
    &.is-label-x-align-center {
      justify-content: center;
    }
    &.is-label-x-align-right {
      justify-content: flex-end;
    }

    &.is-label-y-align-top {
      align-items: flex-start;
    }
    &.is-label-y-align-center {
      align-items: center;
    }
    &.is-label-y-align-bottom {
      align-items: flex-end;
    }
    @media screen and (max-width: 414px) {
      padding-bottom: 5px;
    }
  }
}
