@font-face {
  font-family: "l-font"; /* Project id 4054851 */
  src: url('iconfont.woff2?t=1683511793676') format('woff2'),
       url('iconfont.woff?t=1683511793676') format('woff'),
       url('iconfont.ttf?t=1683511793676') format('truetype'),
       url('iconfont.svg?t=1683511793676#iconfont') format('svg');
}

.l-caidanlanwode:before {
  content: "\e696";
}

.l-list2:before {
  content: "\e655";
}

