@use '../../../theme-chalk/mixins/mixins' as *;
@use '../../../theme-chalk/common/var' as *;
@use '../../../theme-chalk/mixins/var' as *;

.overlay-fade-enter-active,
.overlay-fade-leave-active {
  transition-property: opacity;
  transition-timing-function: ease;
}

.overlay-fade-enter-from,
.overlay-fade-leave-to {
  opacity: 0;
}

@include b(overlay) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--l-overlay-background-color);
  @include when(modal) {
    background: none !important;
  }
}

@include b(overflow-hidden) {
  overflow: hidden !important;
}
