@use '../../../theme-chalk/mixins/mixins' as *;

@include b(trend-arrow) {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  @include m(span) {
    order: 1;
    margin-right: 5px;
  }
  @include m(rate) {
    vertical-align: middle;
    display: inline;
  }
  @include m(icon) {
    order: 2;
    vertical-align: middle;
  }

  @include m(left) {
    & [class*='#{$namespace}-trend-arrow--span'] {
      order: 2;
      margin-left: 5px;
    }
    & [class*='#{$namespace}-trend-arrow--icon'] {
      order: 1;
    }
  }
}