@use '../../../theme-chalk/mixins/mixins.scss' as *;
@use '../../../theme-chalk/mixins/var.scss' as *;
@use '../../../theme-chalk/common/var.scss' as *;

@include b(footer) {
  @include set-component-css-var('footer', $footer);

  padding: var(--l-footer-padding);
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--l-footer-height);
}
