@use 'sass:map';
@use '../../../theme-chalk/common/var' as *;
@use '../../../theme-chalk/mixins/mixins' as *;
@use '../../../theme-chalk/mixins/utils' as *;
@use '../../../theme-chalk/mixins/var' as *;

@include b(page-header) {
  @include when(contentful) {
    @include e('main') {
      border-top: 1px solid getCssVar('border-color', 'light');
      margin-top: 16px;
    }
  }

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    color: var(--l-text-color-secondary);
    @include e(left) {
      display: flex;
      align-items: center;
      margin-right: 40px;
      position: relative;
      @include e('back') {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      @include e(icon) {
        font-size: 16px;
        margin-right: 5px;
        display: flex;
        align-items: center;

        .#{$namespace}-icon {
          font-size: 14px;
        }
      }

      @include e(title) {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  @include e(breadcrumb) {
    margin-bottom: 16px;
  }
}
